* {
  margin: 0;
  padding: 0;
}

.nav {
  border-bottom:  1px  solid #1E293B;
  transition: all 0.3s ease;
}

.nav.sticky {
  backdrop-filter: blur(100px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 0 0 20px 20px !important; /* Set the border-radius when sticky */
}

.hero {
  padding: 0 40px 100px 40px;
}

.hero h2 {
  font-size: 50px;
  font-weight: 700;
}

.hero-1 {
  padding-top: 130px;
}

.experience {
  border: 1px solid #262B32;
  color: #909090;
  font-size: 13px;
  font-weight: 500;
}

.hero h4 {
  color: #acacac;
  font-size: 18px;
}

.hire {
  font-weight: 600;
  transition: .3s ease-in-out;
}

.hire:hover {
  scale: 1.2;
}

.logo {
  font-size: 30px;
  font-weight: 300;
}

.heroImg img {
  width: 400px;
  margin-top: 100px;
}



.contactImg img {
  width: 350px;
}

.contact {
  background-color: #1C1B1B;
  width: 100px;
  border-radius: 20px;
  color: #f5f4f4;
}

.ct h2{
  font-weight: 700;
  font-size: 40px;
}

.mom {
  filter: drop-shadow(-1px -4px 2px  rgba(101, 163, 235, 0.75));
}
.underline {
  display: block;
  background-color: #307DD9;
  height: 10px;
  width: 150px;
  clip-path: polygon(53% 34%, 78% 42%, 100% 60%, 73% 75%, 24% 75%, 0% 60%, 23% 45%);
  
}

.skills h2 {
  font-size: 40px;
  font-weight: 700;
}

.skills h4 {
  width: 600px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.skills p a {
  font-weight: bold;
  transition: .3s ease-in-out;
  text-decoration: none;
}

.skills p a:hover {
  text-decoration: underline;
}

.stack > * {
  font-size: 50px;
}

.stack {
  display: flex;
  flex-wrap: wrap;
}

.seperator {
  height: 1px;
  
}

.lol {
  transition: .2s ease-in-out;
}

.lol:hover .barrier img {
  top: 25px;
  right: 50px;
}

.lol:hover .barrier {
  /* bottom: 25px; */
  left: 25px;
}

.barrier {
  width: 250px;
  height: 350px;
  transition: all .2s ease-in-out;
  position: relative;
  bottom: 0;
  left: 0;
}


.barrier img {
  width: 250px;
 height: 350px;
  position: relative;
  top: 15px;
  right: 15px;
  filter: grayscale(100%);
  transition: .2s ease-in-out;
}

.about p{
  font-size: 18px;
  font-weight: 400;
}

.about h2 {
  font-weight: 700;
  font-size: 40px;
}

.download {
  cursor: pointer;
}

.Load {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Load h2 {
  font-size: 40px;
  font-weight: 300;
  animation: mymove 2s infinite;
  transition: .2s ease-in-out;
}

@keyframes mymove {
  0%   {font-size: 40px;}
  50%  {font-size: 50px;}
  100% {font-size: 40px;}
}

@media (max-width: 500px) {
  .skills h4 {
    width: 100%;
  }

  .hero h2 {
    font-size: 40px;
  }

  .barrier {
    margin-top: 30px;
  }

  .heroImg img {
    width: 100%;
  }

  .hero-1 {
    padding-top: 150px;
  }

  .experience {
    font-size: 10px;
  }
}


@media only screen and   (max-width: 900px) and (min-width: 768px ){
  .hero {
    padding: 50px 40px 150px 40px;
  }
}
